/* ------- pagina respuesta correcta ------- */

.bodyCorrect{
  background-color: #31ad3b;
}
.correct{
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 8%;
  background-image: url('./../IMG/correct.png');
  background-size: 580px;
  background-repeat: no-repeat;
  background-position: center;
}







/* ------- pagina respuesta incorrecta ------- */

.bodyIncorrect{
  background-color: #ad3131;
}
.incorrect{
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 8%;
  background-image: url('./../IMG/incorrect.png');
  background-size: 580px;
  background-repeat: no-repeat;
  background-position: center;
}





@media screen and (max-width:500px) and (min-width:375px) and (max-height:800px) and (min-height:667px){
  .correct, .incorrect{
    width: 350px;
    height: 350px;
    background-size: 340px;
    margin-top: 40%;
  }

}
