body {
  background-color: #41c4de;
  max-width: 600px;
}

.main {
  font-family: Times New Roman;
}

.main p {
  font-size: 16px;
}

.main input[type=submit]{
   display: block;
   margin: 0 auto;
   margin-top: 10px;
}

h2.titleTOS {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

h2.titleTOS, form {
  text-align: center;
}

form > label {
  font-size: 18px;
}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold;
}
.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
font-weight: bold;
color: red;
padding: 2px 8px;
margin-top: 2px;
}
.credit-card-box .payment-errors {
font-weight: bold;
color: red;
padding: 2px 8px;
margin-top: 2px;
}
.credit-card-box label {
  display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
  display: table;
}
.credit-card-box .display-tr {
  display: table-row;
}
.credit-card-box .display-td {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
  min-width: 180px;
}

.input-group-text {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-group > label {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
}
.credit-card-box > .display-table {
  width: 100%;
}
.modal-body > table.table{
  margin-bottom: 0;
}
