@import url(https://fonts.googleapis.com/css?family=Passion+One);

html, body {
  height: 100%;
  font-family: 'Passion One';
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: black;
  background-color: rgb(65, 196, 222);
  animation: 14s ease 0s infinite alternate none running colorChange;
}

h1 {
  text-align: center;
}

.container {
  padding-top: 10vh;
}

#password1, #password2 {
  margin-bottom: 10px;
}

@keyframes colorChange{
	25% {
    	background: rgb(65, 196, 222);
	}

	50% {
	    background: rgb(140, 199, 63);
	}

	75% {
	    background: rgb(243, 211, 51);
	}

	100% {
	    background: rgb(247, 142, 86);
	}
}
