@import url(https://fonts.googleapis.com/css?family=Bungee);

body{
  margin: 0;
  padding: 0;
  background-color: #EEE;
}
#barra-menu{
  background-color: #23b2e1;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}



@import url(https://fonts.googleapis.com/css?family=Bungee);

body{
  margin: 0;
  padding: 0;
  background-color: #EEE;
}
#barra-menu{
  background-color: #23b2e1;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

/*---------  estilo para el menu desplegable  -----------*/
.nav {
  position: absolute;
  width: 200px;
  height: 100vh;
  top: 0;
  left: -220px;
  padding-top: 47px;
  background-color: rgba(29, 33, 32, 1);
  border-right: 4px solid #23b2e1;
  transition: all .5s ease;
}
.nav__item {
  display: block;
  width: 96%;
  margin: 0 auto;
  margin-left: 30px;
  line-height: 2;
  position: relative;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  color: rgba(221, 231, 228, 1);
}
.menu-toogle {
  background-image: url('../menu.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  left: 8px;
  border-radius: 3px;
  transition: all .5s ease;
  z-index: 10;
}
.checkbox {
  display:none;
}
.checkbox:checked ~ .nav {
  left:0px;
  position:fixed;
}
.checkbox:checked ~ .menu-toogle {
  left:208px;
  position:fixed;
}
/* --------- fin menu hamburguesa ------------- */

.identidad{
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  font-family: 'Bungee';
  color: #FFF;
}







#crear-pregunta{
  width: 1030px;
  height: 120px;
  margin: 0 auto;
  margin-top: 120px;
}
.creador-titulo{
  width: 800px;
  height: 80px;
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  text-align: center;
  font-size: 30px;

}
.enviar-opcion{
  width: 200px;
  height: 80px;
  margin-left: 20px;
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 1px rgba(60,60,60,0.75) inset;
  font-family: 'Bungee';
  font-size: 25px;
  color: #333;
  background-color: #1cd431;
}

#separador{
  width: 95%;
}

#juegos-creados{
  width: 90%;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
#juegos-creados > p{
  color: #1594ee;
  font-family: 'Bungee';
  font-size: 30px;
}
.lista-juegos{
  font-family: 'Bungee';
  font-size: 18px;
  color: #333;
}
.nombre-juego{
  margin-top: 25px;
}
input[type="radio"]:checked+label {
  color: red;
}



.opcion-jugar{
  position: absolute;
  bottom: 30px;
  right: 40px;
}
