@import url(https://fonts.googleapis.com/css?family=Bungee);

body{
  animation-name: fondoColor;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  background: rgb(247, 142, 86);
  text-align: center;
  font-family: 'Bungee';
  font-size: 40px;
}
@keyframes fondoColor {
  25%  { background: rgb(65, 196, 222); }
  50%  { background: rgb(140, 199, 63); }
  75%  { background: rgb(243, 211, 51); }
  100% { background: rgb(247, 142, 86); }
}

.datosJugador{
  margin: 0 auto;
  margin-top: 60px;
  width: 400px;
  height: 300px;

}

.animacionEspera{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 200px;
}

#relojArena{
  width: 100%;
  height: auto;
  animation: rotation 5s infinite linear;
}
@-webkit-keyframes rotation {
		from { transform: rotate(0deg); }
		to { transform: rotate(359deg); }
}

.esperar{
  width: 100%;
  height: 40px;
  margin-top: -250px;
}
.puntos {
  font-size: 30px;
}

.puntos:after {
  content: "";
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis-dot 3s infinite .3s;
  animation-fill-mode: fowards;
  width: 1.25em;
}

@keyframes ellipsis-dot {
  25%  { content: ""; }
  50%  { content: "."; }
  75%  { content: ".."; }
  100% { content: "..."; }
}
